{% extends 'dashboard/base.html' %} {% block title %} {% if isUpdate %} تعديل
الأداة {% else %} إنشاء أداة {% endif %} {% endblock %} {% block content %}
<h2>{% if isUpdate %} تعديل الأداة {% else %} إنشاء أداة {% endif %}</h2>

{% if isUpdate %} {% set form_action = url_for('update_tool', id=tool.id) %} {%
else %} {% set form_action = url_for('create_tool') %} {% endif %}

<form method="POST" enctype="multipart/form-data" action="{{ form_action }}">
	{{ form.csrf_token }}

	<div class="row m-5">
		<div class="col">
			{% if form.name.errors %} {%for error in form.name.errors %}
			<span class="form_error">{{ error }}</span>
			{%endfor%} {% endif%} {{form.name}}
			<!-- <input required name="name" style="height: 50px;" type="text" class="form-control" placeholder="" aria-label=""> -->
		</div>
		<div class="col">
			{% if form.price.errors %} {%for error in form.price.errors %}
			<span class="form_error">{{ error }}</span>
			{%endfor%} {% endif%} {{form.price}}
		</div>
		<div class="col">
			{% if form.has_operator.errors %} {%for error in form.has_operator.errors
			%}
			<span class="form_error">{{ error }}</span>
			{%endfor%} {% endif%}
			<div class="form-check form-switch">
				{{form.has_operator}}
				{{form.has_operator.label(class_="form-check-label")}}
			</div>
		</div>
	</div>
	<div class="m-5">
		{% if form.space.errors %} {%for error in form.space.errors %}
		<span class="form_error">{{ error }}</span>
		{%endfor%} {% endif%} 
		{{form.space}}
	</div>
	<div class="m-5">
		{% if form.description.errors %} {%for error in form.description.errors %}
		<span class="form_error">{{ error }}</span>
		{%endfor%} {% endif%} {{form.description}}
	</div>

	<div class="m-5">
		{% if form.guidelines.errors %} {%for error in form.guidelines.errors %}
		<span class="form_error">{{ error }}</span>
		{%endfor%} {% endif%} {{form.guidelines}}
	</div>

	<div class="m-5">
		{{ form.images.label(class_="form-label")}} {{ form.images}}
	</div>
	{% if isUpdate %}
	<div class="row m-5">
		{% for image in tool.images %}
		<img
			class="col"
			width="100"
			src="{{image.url}}"
			style="object-fit: cover"
		/>
		{% endfor %}
	</div>
	{% endif %}
	<div class="float-end m-5">
		<a
			href="{{url_for('tool_list')}}"
			type="button"
			class="btn btn-outline-danger"
			>الغاء</a
		>
		<button type="submit" class="btn btn-secondary col" style="width: 200px">
			{% if isUpdate %} تعديل الأداة {% else %} إضافة أداة {% endif %}
		</button>
	</div>

	{% if isUpdate %} {% for image in tool.images %}
	<img src="{{image.url}}" />
	{% endfor %} {% endif %}
</form>
{% endblock %}
