{% extends 'dashboard/base.html' %}

{% block title %}
{% if isUpdate %}
تعديل الأداة
{% else %}
 إنشاء أداة
{% endif %}
 {% endblock %}

{% block content %}
<h2>
    {% if isUpdate %}
    تعديل الأداة
    {% else %}
     إنشاء أداة
    {% endif %}
</h2>

{% if isUpdate %}
{%
    set form_action = url_for('update_tool', id=tool.id)
%}
{% else %}
{%
    set form_action = url_for('create_tool')
%}
{% endif %}


<form method="POST" enctype="multipart/form-data" action="{{ form_action }}">
    {{ form.csrf_token }}
    
    {{ form.name.label}}
    {{ form.name}}

    {{ form.price.label}}
    {{ form.price}}

    {{ form.has_operator.label}}
    {{ form.has_operator}}

    {{ form.description.label}}
    {{ form.description}}

    {{ form.guidelines.label}}
    {{ form.guidelines}}

    {{ form.space.label}}
    {{ form.space}}

    {{ form.images.label}}
    {{ form.images}}

    <button type="submit" class="btn btn-secondary col" style="width: 200px;">
        {% if isUpdate %}
        تعديل الأداة
        {% else %}
        إضافة أداة
        {% endif %}
    </button>

    {% if isUpdate %}
        {% for image in tool.images %}
            <img src="{{image.url}}">
        {% endfor %}
    {% endif %}
</form>
{% endblock %}