{% extends 'base.html' %} {% block title %} {% block tab_title %} {% endblock %}
{% endblock %} {% block styles %}
{{ super() }}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='styles/account-settings.css') }}"
/>
{% endblock %} {% block body %} {% block header %}
<header class="">
	<div class="">
		<ul class="list-unstyled d-flex m-3 align-items-center justify-content-end">
			{% if current_user.is_anonymous %}
			<li><a href="{{ url_for('auth.login_page') }}">Login</a></li>
			{% else %}
			<li>مرحبا, {{ current_user.first_name }} !</li>
			<li class="nav-item dropstart mx-2">
				{% if current_user.avatar_url %}
				<img
					src="{{ current_user.avatar_url }}"
					alt="{{ current_user.first_name + ' ' + current_user.last_name }}"
					class="rounded-circle"
					style="object-fit: cover"
					width="35"
					height="35"
					type="button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				/>
				{% else %}
				<img
					src="{{ url_for('static',filename='images/default_avatar.png') }}"
					alt="{{ current_user.first_name + ' ' + current_user.last_name }}"
					class="rounded-circle"
					style="object-fit: cover"
					width="35"
					height="35"
					type="button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				/>
				{% endif %}

				<ul class="dropdown-menu dropdown-menu-dark rounded-0 py-0">
					{%if current_user.role.name == 'admin'%}
					<li>
						<a class="dropdown-item" href="{{ url_for('dashboard.dashboard') }}">
							<i class="bi bi-person-circle me-2"></i><span>لوحة التحكم</span>
						</a>
					</li>
					{% endif %}
					<li>
						<a class="dropdown-item" href="#">
							<i
								class="bi bi-bell-fill text-white position-relative me-2"
								type="button"
								><span
									class="position-absolute top-0 start-100 translate-middle p-1 bg-danger rounded-circle"
								>
									<span class="visually-hidden">New alerts</span>
								</span></i
							><span>التنبيهات</span>
						</a>
					</li>
					<li><hr class="dropdown-divider" /></li>
					<li>
						<a
							class="dropdown-item text-danger fw-bold"
							href="{{ url_for('auth.logout') }}"
						>
							<i class="bi bi-box-arrow-left me-2"></i><span>الخروج</span>
						</a>
					</li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
</header>
{% endblock %}
<div class="container light-style flex-grow-1 container-p-y">
	<h4 class="font-weight-bold mb-4">إعدادات حسابى</h4>

	<div class="card rounded-0 border">
		<div class="row no-gutters row-bordered row-border-light">
			<div class="col-md-3 pt-0">
				<div class="list-group list-group-flush account-settings-links">
					<a
						class="list-group-item list-group-item-action"
						href="{{url_for('main.profile.profile')}}"
						><i class="bi bi-person-circle me-3"></i><span>حسابى</span></a
					>
					<a
						class="list-group-item list-group-item-action"
						href="{{url_for('main.profile.profile_edit')}}"
						><i class="bi bi-pen-fill me-3"></i><span>تعديل البيانات</span></a
					>
					<a
						class="list-group-item list-group-item-action"
						href="{{url_for('main.profile.change_password')}}"
						><i class="bi bi-key-fill me-3"></i><span>تغيير كلمة المرور </span>
					</a>
					<a
						class="list-group-item list-group-item-action"
						href="{{url_for('main.profile.profile_reservation')}}"
						><i class="bi bi-receipt me-3"></i><span>حجوزاتى</span></a
					>
					<a
						class="list-group-item list-group-item-action"
						href="{{url_for('dashboard.dashboard')}}"
						><i class="bi bi-bell-fill me-3"></i><span>التنبيهات</span></a
					>
				</div>
			</div>
			<div class="col-md-9">
				{% with messages = get_flashed_messages(with_categories=true) %} {% if
				messages %}
				<ul class="flashes">
					{% for category, message in messages %} {% if category == "error" %}
					<li class="text-danger">{{ message }}</li>
					{% elif category == "info" %}
					<li class="text-info">{{ message }}</li>
					{% endif %} {% endfor %}
				</ul>
				{% endif %} {% endwith %}
				<div class="tab-content">{% block content %} {% endblock %}</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
