{% extends 'profile/base.html' %} {% block tab_title %} تغيير كلمة المرور {%
endblock %} {% block profile_content %}

<form action="{{ url_for('main.profile.change_password') }}" class="form" method="POST">
    <div class="tab-pane" id="account-change-password">
        <div class="card-body pb-2">
            {{ form.csrf_token }}
            <div class="form-group">
                <div class="form-floating">
                    {{ form.current_password }}{{ form.current_password.label }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    {{ form.password }} {{ form.password.label }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    {{ form.confirm_password }}{{ form.confirm_password.label }}
                </div>
            </div>
            {{ form.submit }}
        </div>
    </div>
</form>
{% endblock %}
