{% extends 'profile/base.html' %} {% block tab_title %} تغيير كلمة المرور {%
endblock %} {% block content %}

<div class="tab-pane fade" id="account-change-password">
	<div class="card-body pb-2">
		<div class="form-group">
			<label class="form-label">Current password</label>
			<input type="password" class="form-control" />
		</div>

		<div class="form-group">
			<label class="form-label">New password</label>
			<input type="password" class="form-control" />
		</div>

		<div class="form-group">
			<label class="form-label">Repeat new password</label>
			<input type="password" class="form-control" />
		</div>
	</div>
</div>
{% endblock %}
