{% extends 'profile/base.html' %} {% block tab_title %} تفاصيل حسابى {% endblock
%} {% block profile_content %}

<div class="tab-pane active show mt-4" id="account-general">
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card ">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img
                                        {% if current_user.avatar_url %}
                                        src="{{ current_user.avatar_url }}"
                                        {% elif current_user.gender.name == "female" %}
                                        src="{{ url_for('static',filename='images/female_avatar.svg') }}"
                                        {% else %}
                                        src="{{ url_for('static',filename='images/male_avatar.svg') }}"
                                        {% endif %}
                                        alt="{{ current_user.first_name + ' ' + current_user.last_name }}"
                                        class="rounded-circle"
                                        style="object-fit: cover"
                                        width="150"
                                        height="150"
                                />
                                <div class="mt-3">
                                    <h4>
                                        {{ current_user.first_name + ' ' + current_user.last_name }}
                                    </h4>
                                    <p class="text-secondary mb-1">
                                        {{ current_user.username }}@
                                    </p>
                                    {% if current_user.organization.name %}
                                    <p class="text-muted font-size-sm">
                                        {{ current_user.organization.name }}
                                    </p>
                                    {% endif %}
                                    <button class="btn btn-primary ">
                                        <i class="bi bi-bell-fill"></i> <span>تنبيهات </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3 ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">الاسم</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.first_name + ' ' + current_user.last_name }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">البريد الإلكترونى</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.email }}
                                </div>
                            </div>
                            {% if current_user.birthday %}
                            <hr/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">تاريخ الميلاد</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.birthday }}
                                </div>
                            </div>
                            {% endif %}
                            {% if current_user.gender %}
                            <hr/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">الجنس</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.gender.description }}
                                </div>
                            </div>
                            {% endif %}
                            <hr/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">الهاتف</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.phone }}
                                </div>
                            </div>
                            {% if current_user.address %}

                            <hr/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">العنوان</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.address }}
                                </div>
                            </div>
                            {% endif %} {% if current_user.website_url %}
                            <hr/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">الموقع الإلكترونى</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.website_url }}
                                </div>
                            </div>
                            {% endif %}
                            <hr/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">التصنيف</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ current_user.category.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
