{% extends 'profile/base.html' %} {% block tab_title %} تفاصيل حسابى {% endblock
%} {% block content %}

<div class="tab-pane fade active show" id="account-general">
	<div class="card-body media align-items-center">
		<img
			src="https://bootdey.com/img/Content/avatar/avatar1.png"
			alt=""
			class="d-block ui-w-80"
		/>
		<div class="media-body ml-4">
			<label class="btn btn-outline-primary">
				Upload new photo
				<input type="file" class="account-settings-fileinput" />
			</label>
			&nbsp;
			<button type="button" class="btn btn-default md-btn-flat">Reset</button>

			<div class="text-light small mt-1">
				Allowed JPG, GIF or PNG. Max size of 800K
			</div>
		</div>
	</div>
	<hr class="border-light m-0" />

	<div class="card-body">
		<ul>
            <li>{{ current_user.first_name }} {{ current_user.last_name }}</li>
            <li>{{ current_user.username }}</li>
            <li>{{ current_user.email }}</li>
            <li>{{ current_user.role.name }}</li>
            <li>{{ current_user.category.name }}</li>
        </ul>
	</div>
</div>
{% endblock %}
