{% extends 'profile/base.html' %} {% block title %} حجوزاتي {% endblock %} {%
block profile_content %}
<div class="container my-3">
    <div class="row">
        {% for reservation in current_user.reservations %}
        <div class="col-md-12 mb-3">
            <div
                    class="card widget-user border-primary overflow-hidden rounded"
                    style="border-style: dashed"
            >
                <div class="card-body pb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="text-primary">
                                {% if reservation.type.name == 'tool' %}
                                {{reservation.tool.name}} {% else %} {{reservation.space.name}}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <p class="h3 text-primary">
                                {{ reservation.full_price }}
                                <span class="h5"> جنيه مصرى </span>
                            </p>
                        </div>
                    </div>
                    {% if reservation.tools|length > 1 %}
                    <div class="d-flex align-items-center flex-wrap mb-4">
                        {% for tool in reservation.tools %}
                        <span class="badge text-bg-primary me-1"
                        >{{ tool.name }}</span
                        >
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="d-flex align-items-center flex-row">
                        <div class="me-3">
                            {% if reservation.payment_status.name == 'no_payment' %}<span
                                class="badge  text-bg-danger"
                        >{{ reservation.payment_status.description }}</span
                        >
                            {% elif reservation.payment_status.name == 'down_payment' %}
                            <span class="badge  text-bg-warning"
                            >{{ reservation.payment_status.description }}</span
                            >
                            {% else %}
                            <span class="badge  text-bg-success">{{ reservation.payment_status.description }}</span>
                            {% endif %}
                        </div>
                        {% if reservation.payment_status.name == 'no_payment' %}
                        <div class="w-50">
                            <form>
                                <div class="d-flex align-items-stretch">
                                    <input
                                            type="text"
                                            class="form-control form-control-sm"
                                            placeholder="ادخل رقم المعاملة البنكية"
                                            value="{% if reservation.transaction_num %} {{ reservation.transaction_num }} {% endif %}"
                                    />
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class="wid-u-info mt-2">
                        <div
                                class="user-position {% if reservation.type.name == 'tool' %} bg-success {% else %} bg-primary {% endif %}"
                        >
							<span class="text-white font-upper"
                            >{% if reservation.type.name == 'tool' %} أداة {% else %} مساحة
								{% endif %}</span
                            >
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="text-primary mb-0 mt-3">
                            <i class="bi bi-clock me-2"></i>{{ reservation.created_at }}
                        </p>
                        {% if reservation.payment_status.name == 'no_payment' %}

                        <button class="btn btn-outline-danger btn-sm me-5">
                            إلغاء الحجز
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
