{% extends 'base.html' %} {% block styles %}
{{ super() }}
<link
        href="{{ url_for('static',filename='styles/default.rtl.css') }}"
        rel="stylesheet"
/>
<!-- Custom styles for this template -->
{% endblock %}

{% block auth_analytics %}
<!-- Meta Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '396155903331206');
    fbq('track', 'PageView');

</script>

{% block fb_analytics %} {% endblock %}

<noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=396155903331206&ev=PageView
&noscript=1"/>
</noscript>
{% endblock %}

{% block body %}
<main class="d-flex justify-content-center align-items-center w-100 vh-100">
    {% block content %}{% endblock %}
</main>


{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='js/default.js') }}"></script>

{% endblock %}