{% extends 'auth/base.html' %} {% block title %}signup{% endblock %} {% block
content %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block">
                    <img src="{{ url_for('static',filename='images/sign_in.svg') }}" class="w-100 h-100 px-3">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-primary mb-4">مرحباً بك</h1>
                        </div>
                        <form class="user" action="{{ url_for('auth.signup_page') }}" class="form"
                              method="POST">
                            {{ form.hidden_tag() }} {{ form.csrf_token }}{% if errors%}
                            <div class="alert alert-danger">{{ errors }}</div>
                            {% endif %}
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    {{ form.firstName }}
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    {{ form.lastName }}
                                </div>
                                 <div class="col-sm-4 mb-3 mb-sm-0">
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.userName }}
                                </div>
                                <div class="col-sm-6">
                                    {% if form.category.errors %} {%for error in form.category.errors %}
                                    <span class="form_error">{{ error }}</span>
                                    {%endfor%} {% endif%} {{ form.category}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.email }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.password }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.confirm_password }}
                                </div>
                            </div>
                            {{ form.submit }}
                        </form>
                        <hr/>
                        <div class="text-center">
                            <a class="small" href="{{ url_for ('auth.login_page') }}"
                            >لديك حساب؟ - سجل دخولك</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
