{% extends 'dashboard/base.html' %}
{% block title %} حجز مساحة {% endblock %}
{% block content %}

<h2 class="m-3">حجز مساحة </h2>


<form action="{{ url_for('createReservation') }}" method="post">

  <div class="row align-items-center" style="margin:60px 80px 50px 0;">

    <div class="col-3  ">
      <select id="spacee" name="spaceName" class=" form_select  w-100">
        <option value="hide">-- اختر المساحة --</option>
        {% for reserve in reserve1 %}
        <option value="{{reserve.id}}&{{reserve.price}}&{{reserve.name}}">{{ reserve.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-2 ">
      <button type="submit" class="btn btn-dark btn-sm" name="chooseTool" value="chooseTool">حجز اداة </button>
    </div>
  </div>




  <div class="row " style="margin:60px 80px 0 0;">
    <div class="col-3 ">
      <select id="mySelect" class="form-select text-center" onchange="myFunction()">
        <option value="hide">-- نوع الحجز --</option>
        <option value="no_range">حجز ايام منفصلة</option>
        <option value="range">حجز فترة متصلة</option>
        <!-- <option value="weekly">حجز اسبوعي لفتره</option> -->
      </select>
    </div>

    <div class="col-7 mx-5">
      <div class="col-4">
        <div class="input-daterange input-group">
          <input type="text" class=" form-control text-center date-picker-range-1 range_HS " name="start_date_range"
            placeholder="من" />
          <input type="text" class="form-control text-center date-picker-range-2 range_HS " name="end_date_range"
            placeholder="الي" />
        </div>
      </div>
      <div id="picker-no-range" class="row align-items-center">
        <div class="col-4">
          <input class="form-select text-center w-100" type="text" name="date-picker-no-range" id="date-picker-no-range"
            placeholder="-- ميعاد الحجز --" onchange="no_range_date()">
        </div>
        <div class="col-3 ms-5">
          <select name="time_picker_no_range" id="time-picker-no-range" class="form-select text-center w-100"
            onchange="upto()">
            <option value="hide">من الساعة</option>
            <option value="10">10 ص</option>
            <option value="12">12 م</option>
            <option value="14">2 م</option>
            <option value="16">4 م</option>
          </select>
        </div>
        <div class="col-2">
          <select name="time2_picker_no_range" id="time2-picker-no-range" class="form-select text-center w-100">
            <option value="hide">الي</option>
            <option value="12">12 م</option>
            <option value="14">2 م</option>
            <option value="16">4 م</option>
            <option value="18">6 م</option>
          </select>
        </div>
        <input type="hidden" name="date_from_to_no_range" id="date_from_to_no_range">
      </div>
      <!-- <div id="picker-weekly" class="row">
        <input type="text" name="" id="date-picker-weekly">
      </div> -->
    </div>


  </div>

  <div class="row" style="margin:60px 80px 0 0;">
    <div class="col-3 ">
      <select class='form_select text-center w-100' name="username">
        <option value="hide">-- اسم صاحب الحجز --</option>
        {% for user in users %}
        <option value="{{user.id}}">{{user.email}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-3 mx-5">
      <select class='form-select text-center w-100' style='width: 200px;' name="payment">
        <option value='hide'>الحساب</option>
        <option value="no_payment">لم يتم الدفع</option>
        <option value="down_payment">تم دفع مبلغ من الحجز</option>
        <option value="full_payment">تم دفع المبلغ بالكامل</option>
      </select>
    </div>
  </div>

  <div style="margin:50px 90px 100px 0; ">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">الأسم</th>
            <th scope="col">السعر</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for space in reserve1 %}
          <tr>
            <td>{{space.id}}</td>
            <td>{{space.name}}</td>
            <td>{{space.price}} جم / الساعة</td>
            <td>
              {% if space.has_operator %}
              <i class="bi bi-check2-circle text-success"></i> {% else %}
              <i class="bi bi-x-circle text-danger"></i> {% endif %}
            </td>
            <td class="d-flex">
              <button type="button" class="btn btn-info text-white btn-sm mx-1 rounded-circle" data-bs-toggle="tooltip"
                data-bs-placement="top" title="تفاصيل">
                <i class="bi bi-info-circle"></i>
              </button>
              <a href="{{url_for('update_space', id=space.id)}}"
                class="text-white btn btn-warning btn-sm mx-1 rounded-circle" data-bs-toggle="tooltip"
                data-bs-placement="top" title="تحديث">
                <i class="bi bi-pencil"></i>
              </a>
              <form method="POST" action="{{url_for('delete_space', id=space.id)}}">
                <button type="button" class="text-white btn btn-danger btn-sm mx-1 rounded-circle"
                  data-bs-toggle="modal" data-bs-target="#deleteModal-{{space.id}}" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="حذف">
                  <i class="bi bi-trash3"></i>
                </button>
                <div class="modal fade" id="deleteModal-{{space.id}}" tabindex="-1" aria-labelledby="deleteModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">حذف!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        هل أنت متأكد من حذف مساحة: {{space.name}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                          رجوع
                        </button>
                        <button type="submit" class="btn btn-danger">
                          تأكيد الحذف
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="float-end ml-5">
    <button type="submit" class="btn btn-outline-danger" style="margin-left: 10px;" name="cancel"
      value="cancel">الغاء</button>
    <button type="submit" class="btn btn-dark " style="margin-left: 10px;" name="confirm" value="confirm">تأكيد
      الحجز</button>
  </div>

</form>




{% endblock %}