{% extends 'default/base.html' %} {% block title %}حجز مساحة{% endblock %} {%
block content %}

<div class="border m-5 p-5" id="app">
	<form class="row">
		<div class="col-md-8">
			<div class="row mb-3">
				<div class="col-md-4 mb-3">
					<template v-if="spaces.length">
						<label for="spaces">إختر المساحة </label>
						<select
							id="spaces"
							class="form-select w-100"
							@change="getSpaceTools($event)"
						>
							<template v-for="space in spaces">
								<option v-if="space" :key="space.id" :value="space.id">
									{space.name}
								</option>
							</template>
						</select>
					</template>
				</div>
				<div class="col-md-4 mb-3" v-if="spaceUnits.length">
					<label for="units">إختر نظام الحجز</label>
					<select
						id="units"
						class="form-select w-100"
						@change="changeUnit($event)"
					>
						<template v-for="unit in spaceUnits">
							<option v-if="unit" :key="unit.unit_id" :value="unit.unit_id">
								{ unit.unit_title}
							</option>
						</template>
					</select>
				</div>
				<div class="col-md-4 mb-3">
					<label for="units">عدد الحاضرين</label>
					<input type="number" v-model="attendance_num" class="form-control" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-8 mb-3">
					<div class="row">
						<div class="col-md-6 mb-3">
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="tools">الفئة العمرية</label>
									<input
										type="number"
										class="form-control"
										placeholder="من"
										v-model="min_age"
									/>
								</div>
								<div class="col-md-6 mb-3">
									<div>
										<label for="tools" class="text-right w-100 text-danger"
											>*</label
										>
										<input
											type="number"
											class="form-control"
											placeholder="إلى"
											v-model="max_age"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<div class="row" v-if="selectedUnit.unit_id===0">
								<div class="col-md-6 mb-3">
									<label for="tools">مواعيد</label>
									<select
										id="time-picker"
										class="form-select text-center w-100"
										@change="fromTime=$event.target.value;getToTimeList($event.target.value,18)"
										v-model="fromTime"
									>
										<template v-for="time in fromTimeRange">
											<option :value="time.value">{time.text}</option>
										</template>
									</select>
								</div>
								<div class="col-md-6 mb-3">
									<div>
										<label for="tools" class="text-right w-100 text-danger"
											>*</label
										>
										<select
											id="time2-picker"
											class="form-select text-center w-100"
											:disabled="fromTime === ''"
											v-model="toTime"
										>
											<template v-for="time in toTimeRange">
												<option :value="time.value">{time.text}</option>
											</template>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label for="description"
								>قولنا ناوى تستخدم المساحة فى إيه ؟</label
							>
							<textarea
								class="form-control"
								id="description"
								v-model="description"
								cols="30"
								rows="10"
							></textarea>
						</div>
					</div>
				</div>
				<div
					class="col-md-4 mb-3"
					v-if="selectedUnit.unit_id === 1 || toTime || toTime"
				>
					<div id="datepicker"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<template v-if="tools.length">
						<label for="tools">إختر الأدوات </label>
						<ul class="ks-cboxtags">
							<li v-for="tool in tools" :key="tool.id" class="ms-1">
								<input
									type="checkbox"
									:id="`${tool.id}`"
									:value="tool.id"
									v-model="tool_ids"
								/><label :for="tool.id"
									>&nbsp;
									<span> {tool.name} - </span>
									&nbsp;<span>{tool.price}</span>&nbsp;<span>{tool.price_title}</span>&nbsp;</label
								>
							</li>
						</ul>
					</template>
				</div>

				<div class="col-md-12 my-3">
					<table class="table" v-if="price_table.length">
						<tbody>
							<tr v-for="(price, index) in price_table" :key="index">
								<th scope="row">
									{index !== price_table.length - 1 ? index + 1 : "" }
								</th>
								<td>{price[0]}</td>
								<td>{price[1]}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col mt-3">
			<button
				type="submit"
				class="btn btn-primary bg-gradient-primary"
				:disabled="!price_table.length"
				@click.prevent="submitForm"
			>
				تأكيد الحجز
			</button>
			<a
				type="submit"
				class="btn btn-outline-danger mx-2"
				href="{{ url_for('main.main_page')}}"
			>
				الغاء
			</a>
		</div>
	</form>
</div>
{% endblock %} {% block scripts %}
<script>
	let csrf_token = "{{ form.csrf_token.current_token }}";
</script>

<script src="{{ url_for('static', filename='js/vue.global.js') }}"></script>
<script src="{{ url_for('static',filename='js/space-form.js') }}"></script>

{{ super() }} {% endblock %}
