{% extends 'default/base.html' %} {% block title %}حجز مساحة{% endblock %}
{% block content %}

<div style="position:absolute; width:800px; border: 2px solid rgb(36, 34, 34);">
    <form name="form"  action="{{ url_for('userReservationSpace') }}" method="post" >
        <div class="row  " style="margin:40px 40px 40px 40px;">
            <div class="col-8 d-flex  align-items-center">
                <div class="col-6">
                    <select id="spacee" name="spaceName" class="form-select">
                        <option value="hide">-- اختر المساحة --</option>
                        {% for reserve in reserve1 %}
                        <option value="{{reserve.id}}&{{reserve.price}}&{{reserve.name}}">{{ reserve.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-3">
                    <button type="submit"  class="btn btn-dark btn-sm"
                        name="chooseTool" value="chooseTool">حجز أداة </button>
                </div>
            </div>
            <div class="col-4 ">
                <div>
                    <select id="mySelect" class="form-select text-center" onchange="myFunction()" name="type">
                        <option value="hide">-- نوع الحجز --</option>
                        <option value="no_range">حجز ايام منفصلة</option>
                        <option value="range">حجز فترة متصلة</option>
                        <!-- <option value="weekly">حجز اسبوعي لفتره</option> -->
                    </select>
                </div>
                <div>
                    <input type="text" class="form-control my-5 text-center date-picker-range range_HS"
                        placeholder="-- ميعاد الحجز --" name="datetime" onchange="range_date()" />
                    <input type="hidden" name="date_from_to" class="date_from_to">
                </div>
                <div id="picker-no-range" class="my-3">
                    <div>
                        <input class="form-control text-center" type="text" name="date-picker-no-range"
                            id="date-picker-no-range" placeholder="-- ميعاد الحجز --" onchange="no_range_date()">
                    </div>
                    <div class="row my-3 mx-3">
                        <div class="col-8">
                            من الساعة
                            <input type="text" name="time_picker_no_range" id="time-picker-no-range"
                                class="form-select text-center" style="width:60px;" onchange="upto()">
                        </div>
                        <div class="col-4">
                            الي
                            <input type="text" name="time2_picker_no_range" id="time2-picker-no-range"
                                class="form-select text-center" style="width:60px;">
                        </div>
                    </div>
                    <input type="hidden" name="date_from_to_no_range" id="date_from_to_no_range">
                </div>
                <!-- <div id="picker-weekly" class="row">
                <input type="text" name="" id="date-picker-weekly">
              </div> -->
                
            </div>

           
        </div>


        <div class="row float-start mb-4" style="margin-left:25px;" >
            <div class="col-3 ">
                <button type="submit" class="btn btn-outline-danger "
                    name="cancel"
                    value="cancel">الغاء</button>
            </div>
            <div class="col-9">
                <button type="submit" class="btn btn-dark " style=" font-size: 16px;
font-weight:600;" name="confirm" value="confirm" onclick="return space_validate()">تأكيد الحجز</button>
            </div>
        </div>
        
    </form>
</div>









{% endblock %}