{% extends 'default/base.html' %} {% block title %}حجز مساحة{% endblock %}


{% block content %}

<div class="border rounded m-5 p-5">
    <form action="{{ url_for('main.reservation.create_reservation_space') }}" method="post">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-8">
                        <select id="spacee" class="form-select form_select">
                            <option value="hide">{{ name }}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-danger" name="back" value="back">تغيير المساحة</button>
                    </div>


                </div>
                <!-- <div style="margin:15px -60px 0 0 ">
                    
                </div> -->
            </div>
            <div class="col-4">
                <select id="toools" name="toolName" class="form_select w-100">
                    <option value="hide">-- اختر الأداة --</option>
                    {% for tool in tools %}
                    {% if id == tool.space_id %}
                    <option value="{{id}}&{{price}}&{{tool.id}}&{{tool.price}}">{{ tool.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="row my-4">
            <div class="col-4">
                <div>
                    <select id="mySelect" class="form-select text-center" onchange="myFunction()">
                        <option value="hide">-- نوع الحجز --</option>
                        <option value="no_range">حجز ايام منفصلة</option>
                        <option value="range">حجز فترة متصلة</option>
                        <!-- <option value="weekly">حجز اسبوعي لفتره</option> -->
                    </select>
                </div>
                <div>
                    <div class="input-daterange input-group">
                        <input type="text" class=" form-control text-center date-picker-range-1 range_HS "
                               name="start_date_range" placeholder="من"/>
                        <input type="text" class="form-control text-center date-picker-range-2 range_HS "
                               name="end_date_range" placeholder="الي"/>
                    </div>
                </div>
                <div id="picker-no-range" class="my-3">
                    <div>
                        <input class="form-control text-center" type="text" name="date-picker-no-range"
                               id="date-picker-no-range" placeholder="-- ميعاد الحجز --" onchange="no_range_date()">
                    </div>
                    <div class="row my-3 ">
                        <div class="col-6">
                            <select name="time_picker_no_range" id="time-picker-no-range"
                                    class="form-select text-center w-100" onchange="upto()">
                                <option value="hide">من</option>
                                <option value="10">10 ص</option>
                                <option value="12">12 م</option>
                                <option value="14">2 م</option>
                                <option value="16">4 م</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select name="time2_picker_no_range" id="time2-picker-no-range"
                                    class="form-select text-center w-100">
                                <option value="hide">الي</option>
                                <option value="12">12 م</option>
                                <option value="14">2 م</option>
                                <option value="16">4 م</option>
                                <option value="18">6 م</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="date_from_to_no_range" id="date_from_to_no_range">
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-4"><textarea class="form-control"></textarea></div>

        </div>
        <div>
            <button type="submit" class="btn btn-outline-danger " name="cancel" value="cancel">الغاء</button>
            <button type="submit" class="btn btn-primary" name="confirmWithTool" value="confirmWithTool">تأكيد الحجز
            </button>
        </div>
    </form>
</div>

{% endblock %}