{% extends 'default/base.html' %} {% block title %}حجز أداة{% endblock %}
{% block content %}

<div class="border rounded m-5 p-5">
    <form name="form" onsubmit="return tool_validate()"
          action="{{ url_for('main.reservation.create_reservation_tool') }}"
          method="post">
        <div class="row my-3">
            <div class="col-5">
                <select id="toools" name="toolName" class="form_select ">
                    <option value="hide">-- اختر الأداة --</option>
                    {% for tool in tools %}
                    {% if tool.space_id is none %}
                    <option value="{{tool.id}}&{{tool.price}}">{{tool.name}} تكلفة الأداة {{tool.price}} جم/ يوم
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-5 ">
                <div class="input-daterange input-group">
                    <input type="text" class=" form-control text-center date-picker-range-1"
                           name="start_date_range" placeholder="من"/>
                    <input type="text" class="form-control text-center date-picker-range-2"
                           name="end_date_range" placeholder="الي"/>
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="confirm" value="confirm">تأكيد الحجز
        </button>
        <button type="submit" class="btn btn-outline-danger" name="cancel"
                value="cancel">الغاء
        </button>
    </form>
</div>


{% endblock %}