{% extends 'default/base.html' %} {% block title %}حجز أداة{% endblock %} {%
block content %}

<div
	style="
		position: absolute;
		width: 600px;
		height: 250px;
		border: 2px solid rgb(36, 34, 34);
	"
>
	<form
		name="form"
		onsubmit="return tool_validate()"
		action="{{ url_for('userReservationTool') }}"
		method="post"
	>
		<div class="row pt-5" style="justify-content: center">
			<div class="col-5">
				<select id="toools" name="toolName" class="form-select">
					<option value="hide">-- اختر الأداة --</option>
					{% for tool in tools %} {% if tool.space_id is none %}
					<option value="{{tool.id}}&{{tool.price}}">
						{{tool.name}} تكلفة الأداة {{tool.price}} جم/ يوم
					</option>
					{% endif %} {% endfor %}
				</select>
			</div>
			<div class="col-5">
				<input
					type="text"
					class="form-control rounded-0 text-center date-picker-range"
					name="datetime"
					placeholder="-- ميعاد الحجز --"
					onchange="range_date()"
				/>
				<input type="hidden" class="date_from_to" name="datetimes" />
			</div>
		</div>
		<button
			type="submit"
			class="btn rounded-0 btn-dark"
			style="width: 70%; margin-top: 40px; font-size: 16px; font-weight: 600"
		>
			تأكيد الحجز
		</button>
		<button
			type="submit"
			class="btn rounded-0 btn-outline-danger"
			style="width: 70%; margin-top: 10px"
			name="cancel"
			value="cancel"
		>
			الغاء
		</button>
	</form>
</div>

{% endblock %}
