alembic==1.7.7
autopep8==1.6.0
blinker==1.4
click==8.1.3
Flask==2.1.2
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==2.0.2
importlib-metadata==4.11.4
importlib-resources==5.7.1
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.0
MarkupSafe==2.1.1
marshmallow==3.19.0
mysqlclient==2.1.1
packaging==23.0
pycodestyle==2.8.0
python-dateutil==2.8.2
python-dotenv==0.20.0
six==1.16.0
SQLAlchemy==1.4.36
toml==0.10.2
webargs==8.2.0
Werkzeug==2.1.2
WTForms==3.0.1
zipp==3.8.0
