{% extends 'base.html' %} {% block styles %}

<link
	href="{{ url_for('static',filename='styles/bootstrap.rtl.min.css') }}"
	rel="stylesheet"
/>

<!-- Custom styles for this template -->
<link
	href="{{ url_for('static',filename='styles/dashboard.rtl.css') }}"
	rel="stylesheet"
/>

<link 
	rel="stylesheet"
	href="{{ url_for('static',filename='styles/mobiscroll.javascript.min.css')}}"/>
{% block dashboard_styles %}{% endblock %}

<style>
	body {
		font-family: "Tajawal", sans-serif;
	}
	.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	@media (min-width: 768px) {
		.bd-placeholder-img-lg {
			font-size: 3.5rem;
		}
	}

	.b-example-divider {
		height: 3rem;
		background-color: rgba(0, 0, 0, 0.1);
		border: solid rgba(0, 0, 0, 0.15);
		border-width: 1px 0;
		box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
			inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
	}

	.b-example-vr {
		flex-shrink: 0;
		width: 1.5rem;
		height: 100vh;
	}

	.bi {
		vertical-align: -0.125em;
		fill: currentColor;
	}

	.nav-scroller {
		position: relative;
		z-index: 2;
		height: 2.75rem;
		overflow-y: hidden;
	}

	.nav-scroller .nav {
		display: flex;
		flex-wrap: nowrap;
		padding-bottom: 1rem;
		margin-top: -1px;
		overflow-x: auto;
		text-align: center;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}
</style>
{% endblock %}


{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	{% block header %}
	<a
		class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6"
		href="{{url_for('dashboard')}}"
		>أضف</a
	>
	<button
		class="navbar-toggler position-absolute d-md-none collapsed"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu"
		aria-controls="sidebarMenu"
		aria-expanded="false"
		aria-label="عرض/إخفاء لوحة التنقل"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<input
		class="form-control form-control-dark w-100 rounded-0 border-0 d-none d-md-block"
		type="text"
		placeholder="بحث"
		aria-label="بحث"
	/>
	<div class="navbar-nav d-none d-md-block">
		<div class="nav-item text-nowrap">
			<a
				class="nav-link px-3 btn btn-danger btn-sm text-white m-2"
				href="{{ url_for('logout') }}"
				>تسجيل الخروج</a
			>
		</div>
	</div>
	{% endblock %}
</header>

<div class="container-fluid">
	<div class="row">
		<nav
			id="sidebarMenu"
			class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse overflow-auto"
		>
			<div class="position-sticky pt-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a
							class="nav-link"
							aria-current="page"
							href="{{url_for('dashboard')}}"
						>
						<i class="bi bi-graph-down me-1"></i>
													لوحة التحكم
						</a>
					</li>
					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-1 text-muted text-uppercase"
					>
						<span>المساحات</span>
						<a class="link-secondary" href="#"> </a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('space_list')}}">
								<i class="bi bi-table me-1"></i>
								عرض المساحات</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('create_space')}}">
								<i class="bi bi-plus-circle me-1"></i>
								إنشاء مساحة</a
							>
						</li>
					</ul>
					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-1 text-muted text-uppercase"
					>
						<span>الأدوات</span>
						<a class="link-secondary" href="#"> </a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('tool_list')}}">
								<i class="bi bi-table me-1"></i>
								عرض الأدوات
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('create_tool')}}">
								<i class="bi bi-plus-circle me-1"></i>
								إنشاء الأداة
							</a>
						</li>
					</ul>
					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-1 text-muted text-uppercase"
					>
						<span>المستخدمين</span>
						<a class="link-secondary" href="#"> </a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('user_list')}}">
								<i class="bi bi-people-fill me-1"></i>
								عرض المستخدمين
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('create_user')}}">
								<i class="bi bi-plus-circle me-1"></i>
								إنشاء مستخدم
							</a>
						</li>
					</ul>
					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-1 text-muted text-uppercase"
					>
						<span>الصلاحيات و التصنيفات</span>
						<a class="link-secondary" href="#"> </a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('get_roles')}}">
								<i class="bi bi-unlock-fill me-1"></i>
								الصلاحيات
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('get_categories')}}">
								<i class="bi bi-tags-fill me-1"></i>
								التصنيفات
							</a>
						</li>
					</ul>
					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-1 text-muted text-uppercase"
					>
						<span>الحجوزات</span>
						<a class="link-secondary" href="#"> </a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('get_reservations')}}">
								<i class="bi bi-table me-1"></i>
								عرض الحجوزات
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="bi bi-plus-circle me-1"></i>
								إنشاء حجز
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('get_Calender')}}">
								<i class="bi bi-calendar-date-fill me-1"></i>
								تقويم
							</a>
						</li>
					</ul>
				</ul>
			</div>
		</nav>
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<h2 class="my-3">{% block heading %} {% endblock %}</h2>
			{% block content %} {% endblock %}
		</main>
	</div>
</div>
<script src="{{ url_for('static',filename='js/mobiscroll.javascript.min.js')}}"
></script>


<script
	src="{{ url_for('static',filename='js/Chart.min.js}}"
	integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
	crossorigin="anonymous"
></script>
<script src="{{ url_for('static',filename='js/ckeditor.js') }}"></script>
<script src="{{ url_for('static',filename='js/ar.js') }}"></script>
<script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>

{% endblock %}
