{% extends 'dashboard/base.html' %}

{% block title %} إنشاء مساحة {% endblock %}

{% block content %}
<h2>إنشاء مساحة</h2>

<form method="POST" action="{{ url_for('create_space') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    
    {{ form.name.label}}
    {{ form.name}}

    {{ form.price.label}}
    {{ form.price}}

    {{ form.has_operator.label}}
    {{ form.has_operator}}

    {{ form.description.label}}
    {{ form.description}}

    {{ form.guidelines.label}}
    {{ form.guidelines}}

    {{ form.images.label}}
    {{ form.images}}

    <button type="submit" class="btn btn-secondary col" style="width: 200px;"> اضافة المساحة</button>
</form>
{% endblock %}