{% extends 'default/base.html' %} {% block title %} تسجيل الدخول {% endblock %}
{% block content %}

<form method="POST" action="/login">
	{{ form.csrf_token }}
	<!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
	<!-- <h1 class="h3 mb-3 fw-normal">Please sign in</h1> -->
	{{msg}}
	<div class="form-floating mb-2">
		{{ form.username }} {{ form.username.label }}
	</div>
	<div class="form-floating mb-2">
		{{ form.password }} {{ form.password.label }}
	</div>
	<button class="w-100 btn btn-lg btn-dark rounded-0" type="submit">الدخول</button>
</form>
{% endblock %}
