{% extends 'base.html' %} {% block styles %}
<link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static',filename='bootstrap.min.css') }}"
/>
<link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static',filename='signin.css') }}"
/>
<link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static',filename='style.css') }}"
/>
<link href="{{ url_for('static',filename='default.rtl.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static',filename='mobiscroll.javascript.min.css')}}" />
<!-- Custom styles for this template -->
{% endblock %}{% block body %}
<header class="position-absolute top-0 start-0">
	{% block header %}
	<div class="row">
		<ul class="list-unstyled d-flex m-3 align-items-center">
			{% if current_user.is_anonymous %}
			<li><a href="{{ url_for('login_page') }}">Login</a></li>
			{% else %}
			<li>مرحبا, {{ current_user.username }} !</li>
			<li><a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm mx-2">Logout</a></li>
			{% endif %}
		</ul>
	</div>
	{% endblock %}
</header>

<main class="d-flex justify-content-center align-items-center w-100 vh-100">
	{% block content %}{% endblock %}
</main>
<script src="{{ url_for('static',filename='mobiscroll.javascript.min.js')}}"></script>
<script src="{{ url_for('static',filename='bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='dashboard.js') }}"></script>



{% endblock %}
