{% extends 'base.html' %} {% block styles %} {{ super() }}
<link
	href="{{ url_for('static',filename='styles/default.rtl.css') }}"
	rel="stylesheet"
/>
<!-- Custom styles for this template -->
{% endblock %}{% block body %}
<div id="content-wrapper py-5">
	<!-- Main Content -->
	<div id="content">
		<!-- Topbar -->
		<nav
			class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex align-items-center justify-content-center"
		>
			<div class="text-primary fw-bold">
				<a class="nav-link" href="{{url_for('main.main_page')}}" role="button">
					{{ 'مساحتى' }}
				</a>
			</div>

			<ul class="navbar-nav mr-auto">
				<!-- Nav Item - Search Dropdown (Visible Only XS) -->

				<!-- Nav Item - Alerts -->
				<li class="nav-item mx-1">
					<a
						class="nav-link"
						href="{{url_for('main.spaces_list')}}"
						role="button"
					>
						المساحات
					</a>
				</li>
				<li class="nav-item mx-1">
					<a
						class="nav-link"
						href="{{url_for('main.tools_list')}}"
						role="button"
					>
						الأدوات
					</a>
				</li>
			</ul>
			<!-- Topbar Navbar -->
			<ul class="navbar-nav ml-auto">
				<!-- Nav Item - Search Dropdown (Visible Only XS) -->
				<li class="nav-item dropdown no-arrow">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="searchDropdown"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<i class="fas fa-search fa-fw"></i>
					</a>
					<!-- Dropdown - Messages -->
					<div
						class="dropdown-menu dropdown-menu-right p-2 shadow animated--grow-in"
						style="width: 400px"
						aria-labelledby="searchDropdown"
					>
						<form class="w-100 navbar-search">
							<div class="input-group">
								<input
									type="text"
									class="form-control bg-light border-0"
									placeholder="بحث"
									aria-label="Search"
									aria-describedby="basic-addon2"
								/>
								<div class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fas fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</li>

				<!-- Nav Item - Alerts -->
			
				<div class="topbar-divider d-none d-sm-block"></div>

				<!-- Nav Item - User Information -->
				<li class="nav-item dropdown no-arrow">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="userDropdown"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<span class="mr-2 d-none d-lg-inline text-gray-600 small"
							>{{ current_user.first_name + ' ' + current_user.last_name
							}}</span
						>
						<img class="img-profile rounded-circle" {% if
						current_user.avatar_url %} src="{{ current_user.avatar_url }}" {%
						elif current_user.gender.name == "female" %} src="{{
						url_for('static',filename='images/female_avatar.svg') }}" {% else %}
						src="{{ url_for('static',filename='images/male_avatar.svg') }}" {%
						endif %} alt="{{ current_user.first_name + ' ' +
						current_user.last_name }}" />
					</a>
					<!-- Dropdown - User Information -->
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
						aria-labelledby="userDropdown"
					>
						{% if current_user.role.name == "admin" %}
						<a class="dropdown-item" href="{{url_for('dashboard.dashboard')}}">
							<i
								class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"
							></i>
							لوحة التحكم
						</a>
						{% endif %}
						<a class="dropdown-item" href="{{url_for('main.profile.profile')}}">
							<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
							الصفحة الشخصية
						</a>
						<a class="dropdown-item" href="#">
							<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
							الإعدادات
						</a>
						{% if current_user.role.name == "admin" %}
						<a class="dropdown-item" href="#">
							<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
							سجل الأنشطة
						</a>
						{% endif %}
						<div class="dropdown-divider"></div>
						<a
							class="dropdown-item text-danger"
							href="#"
							data-toggle="modal"
							data-target="#logoutModal"
						>
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
							تسجيل الخروج
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container-fluid mb-5">{% block content %} {% endblock %}</div>
		<!-- /.container-fluid -->
	</div>
	<!-- End of Main Content -->

	<!-- Footer -->
	<footer class="sticky-footer bg-gradient-primary text-white fixed-bottom">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>
					Copyright &copy;
					<a
						class="text-white mx-1 fw-bold text-decoration-none"
						href="{{url_for('main.main_page')}}"
						role="button"
					>
						{{ 'مساحتى' }}
					</a>
					<script>
						document.write(new Date().getFullYear());
					</script>
				</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->
</div>

{% endblock %} {% block scripts %} {{ super() }}

{% endblock %}
