{% extends 'default/base.html' %} {% block title%} أضف {% endblock%} {% block
content %}
<div class="d-flex w-100 h-100 justify-content-center align-items-center">
	<div class="card text-center" style="width: 18rem">
		<div class="card-body">
			<a
				href="{{url_for('main.reservation.create_reservation_space')}}"
				class="w-100 btn btn-lg btn-primary"
				>حجز مساحة</a
			>
			<div class="card-text my-4 text-primary">أو</div>
			<a
				href="{{url_for('main.reservation.create_reservation_tool')}}"
				class="w-100 btn btn-lg btn-primary"
				>حجز أداة</a
			>
		</div>
	</div>
</div>

{% endblock %}
