{% extends 'default/base.html' %} {% block title %}signup{% endblock %} {% block
content %}
<!-- The url_for function get the route url of signup_page controller -->
<form action="{{ url_for('signup_page') }}" class="form" method="POST">
	{{ form.hidden_tag() }} {{ form.csrf_token }}
	<p class="text-danger">{% if errors%}{{ errors }}{% endif %}</p>
	<div class="row">
		<div class="col">
			<div class="form-floating mb-2">
				{{ form.firstName }} {{ form.firstName.label }}
			</div>
		</div>
		<div class="col">
			<div class="form-floating mb-2">
				{{ form.lastName }} {{ form.lastName.label }}
			</div>
		</div>
	</div>

	<div class="form-floating mb-2">
		{{ form.userName}} {{ form.userName.label }}
	</div>

	<div class="form-floating mb-2">{{ form.email }} {{ form.email.label }}</div>

	<div class="form-floating mb-2">
		{{ form.password }} {{ form.password.label }}
	</div>

	<div class="form-floating mb-2">
		{{ form.confirm_password }} {{ form.confirm_password.label }}
	</div>
	{{ form.submit }}
</form>

{% endblock %}
