{% extends 'default/base.html' %}

{% block title %} الشروط والأحكام {% endblock %}

{% block content %}
<div class="container py-5">
    <h2>مرحبًا بكم في مؤسسة التعبير الرقمي العربي (ADEF)</h2>
    <p>تحدد هذه الشروط والأحكام القواعد واللوائح لاستخدام موقع مساحات ADEF الإلكتروني.</p>

    <p>بالوصول إلى هذا الموقع، نفترض موافقتك على قبول جميع الشروط والأحكام المذكورة على هذه الصفحة. لا تستمر في استخدام موقع مساحات ADEF إذا كنت لا توافق على قبول جميع الشروط والأحكام المذكورة هنا.</p>

    <h3>تفاصيل الخدمة</h3>
    <p>تقدم ADEF خدمة فريدة تتيح للأفراد مشاهدة وحجز الأماكن داخل مبنى المنظمة، بما في ذلك Hackerspace والمكاتب وأماكن الإقامة، بالإضافة إلى الأدوات المرتبطة بهذه الأماكن. يمكن إجراء الحجوزات من خلال موقعنا الإلكتروني، مع تقديم الضيافة عند وصولك.</p>

    <h3>مسؤوليات المستخدم</h3>
    <p>للوصول إلى خدمة الحجز لدينا، يُطلب من المستخدمين إنشاء حساب يوفرون فيه الاسم الأول والأخير والبريد الإلكتروني وتاريخ الميلاد والجنس ورقم الهاتف. يُحظر القرصنة واستخدام المحتوى دون تصريح ونشر المواد غير القانونية على موقع مساحات ADEF الإلكتروني.</p>

    <h3>كيفية الإبلاغ عن المحتوى أو السلوك غير المناسب</h3>
    <p>في حال واجهت أي محتوى أو سلوك غير مناسب على موقعنا، يُرجى الإبلاغ عنه إلى <a href="mailto:info@arabdigitalexpression.org">info@arabdigitalexpression.org</a> أو إرسال رسالة إلى حسابات ADEF الرسمية على إنستجرام أو فيسبوك.</p>

    <h3>الملكية الفكرية</h3>
    <p>يتم إنشاء معظم المحتوى المقدم على موقعنا بواسطة ADEF. يتم عرض حجوزات المستخدمين على تقويم يمكن للمستخدمين الآخرين مشاهدته. يخضع محتوى موقعنا لترخيص CC BY-NC 3.0، مما يتطلب الاستشهاد عند استخدام محتوانا لأغراض تتجاوز الاستخدام الشخصي، وخاصةً للأغراض التعليمية.</p>

    <h3>القانون الحاكم</h3>
    <p>تُحكم هذه الشروط وتُفسر وفقًا لقوانين مصر، دون الرجوع إلى أحكام تعارض القوانين.</p>

    <h3>تعديلات على الشروط والأحكام</h3>
    <p>تحتفظ ADEF بالحق في تعديل هذه الشروط في أي وقت. سنقوم بإخطارك بأي تغييرات من خلال نشر الشروط والأحكام الجديدة على هذه الصفحة وعبر إشعار بالبريد الإلكتروني. تصبح هذه التغييرات سارية فورًا، دون أي فترة سماح للمراجعة أو القبول، بعد نشرها على هذه الصفحة.</p>

    <h3>سياسة الخصوصية</h3>
    <p>تتوفر سياسة الخصوصية الخاصة بنا في تذييل الموقع وتحكم جمع واستخدام وإفشاء المعلومات الشخصية التي نتلقاها من مستخدمي الموقع.</p>

    <h3>اتصل بنا</h3>
    <p>إذا كان لديك أي أسئلة حول هذه الشروط، يُرجى الاتصال بنا على <a href="mailto:info@arabdigitalexpression.org">info@arabdigitalexpression.org</a> أو من خلال صفحاتنا الرسمية على وسائل التواصل الاجتماعي.</p>

    <p>بالوصول إلى الخدمة أو استخدامها، فإنك توافق على الالتزام بهذه الشروط. إذا كنت لا توافق على أي جزء من الشروط، فليس لديك إذن بالوصول إلى الخدمة.</p>
</div>
{% endblock %}
