{% extends 'dashboard/base.html' %} {% block title %} الصلاحيات {% endblock %}
{% block heading %} الصلاحيات {% endblock %} {% block content %}
<div class="card shadow my-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">
									الصلاحيات
								</h6>
							</div>
							<div class="card-body">
<div class="table-responsive">
	<table
		id="dataTable"
		cellspacing="0"
		class="table align-middle text-center table-bordered"
	>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">الاسم</th>
				<th scope="col">اللون</th>
				<!-- <th scope="col">إعدادات التحكم</th> -->
			</tr>
		</thead>
		<tbody>
			{% for role in roles %}
			<tr>
				<td>{{role.id}}</td>
				<td>{{role.name}}</td>
				<td>
					<span
						class="badge  font-monospace"
						style="background-color: {{role.color_code}};"
						>{{ role.color_code }}</span
					>
				</td>
			
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
