{% extends 'dashboard/base.html' %} {% block title %} الصلاحيات {% endblock %}
{% block heading %} الصلاحيات {% endblock %} {% block content %} {% if isUpdate
%} {% set form_action = url_for('update_role', id=role.id) %} {% else %} {% set
form_action = url_for('get_roles') %} {% endif %}

<form
	class="d-flex align-items-lg-end gap-3"
	method="POST"
	action="{{ form_action }}"
>
	{{ form.csrf_token }}
	<div>
		{% if form.name.errors %} {%for error in form.name.errors %}
		<span class="form_error">{{ error }}</span>
		{%endfor%} {% endif%}{{ form.name.label }}{{ form.name }}
	</div>
	<div>
		{% if form.colorCode.errors %} {%for error in form.colorCode.errors %}
		<span class="form_error">{{ error }}</span>
		{%endfor%} {% endif%}{{ form.colorCode.label }}{{ form.colorCode }}
	</div>
	<button type="submit" class="btn btn-dark">
		{% if isUpdate %} تعديل صلاحية {% else %} إضافة صلاحية {% endif %}
	</button>
	{% if isUpdate %}
	<a
		href="{{ url_for('get_roles') }}"
		type="button"
		class="btn btn-outline-danger"
		>إلغاء</a
	>
	{% endif %}
</form>

<div class="table-responsive my-3">
	<table class="table table-striped table-hover table-sm">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">الاسم</th>
				<th scope="col">اللون</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for role in roles %}
			<tr>
				<td>{{role.id}}</td>
				<td>{{role.name}}</td>
				<td>
					<span
						class="badge font-monospace"
						style="background-color: {{role.color_code}};"
						>{{ role.color_code }}</span
					>
				</td>
				<td class="d-flex">
					<a
						href="{{url_for('update_role', id=role.id)}}"
						class="text-white btn btn-warning btn-sm mx-1"
					>
						<i class="bi bi-pencil"></i>
					</a>
					<form method="POST" action="{{url_for('delete_role', id=role.id)}}">
						{{ form.csrf_token }}
						<button
							type="button"
							class="text-white btn btn-danger btn-sm rounded-end mx-1"
							data-bs-toggle="modal"
							data-bs-target="#deleteModal-{{role.id}}"
							data-bs-toggle="tooltip"
							data-bs-placement="top"
							title="حذف"
						>
							<i class="bi bi-trash3"></i>
						</button>
						<div
							class="modal fade"
							id="deleteModal-{{role.id}}"
							tabindex="-1"
							aria-labelledby="deleteModalLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="deleteModalLabel">حذف!</h5>
										<button
											type="button"
											class="btn-close"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body">
										إذا كنت متأكد من حذف التصنيف
										<br />
										اعد كتابة إسم التصنيف فى المربع أدناه:
										<p class="lead d-inline-block">
											<mark class="badge text-muted h2">{{role.name}}</mark>
										</p>
										{{ input.value}}
									</div>
									<div class="modal-footer">
										<button
											type="button"
											class="btn btn-outline-secondary"
											data-bs-dismiss="modal"
										>
											رجوع
										</button>
										<button type="submit" class="btn btn-danger">
											تأكيد الحذف
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
