{% extends 'dashboard/base.html' %} {% block title %} الصلاحيات {% endblock %}
{% block heading %} الصلاحيات {% endblock %} {% block content %} 
<div class="table-responsive my-3">
	<table
		class="table align-middle table-light table-striped table-hover table-sm"
	>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">الاسم</th>
				<th scope="col">اللون</th>
				<!-- <th scope="col">إعدادات التحكم</th> -->
			</tr>
		</thead>
		<tbody>
			{% for role in roles %}
			<tr>
				<td>{{role.id}}</td>
				<td>{{role.name}}</td>
				<td>
					<span
						class="badge rounded-0 font-monospace"
						style="background-color: {{role.color_code}};"
						>{{ role.color_code }}</span
					>
				</td>
			
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
