<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="{{ url_for('static',filename='images/Adef_logo.svg') }}"
			type="image/x-icon"
		/>
		<title>{% block title %}{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="{{ url_for('static',filename='styles/css2.css') }}"
			rel="stylesheet"
		/>

		<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/moment.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/daterangepicker.min.js') }}"></script>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='styles/daterangepicker.css') }}"
		/>
		<script src="{{ url_for('static',filename='js/select2.min.js') }}"></script>
		<link
			href="{{ url_for('static',filename='styles/bootstrap.rtl.min.css') }}"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='styles/bootstrap-icons.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='styles/chosen.css') }}"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
		></script>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
		{% block styles %} {% endblock %}
	</head>

	<body>
		{% block body %} {% endblock %}
		<script
			src="{{ url_for('static',filename='js/masonry.pkgd.min.js') }}"
			integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
			crossorigin="anonymous"
			async
		></script>
		<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>
